/bin/
# Operating System files
.DS_Store           # macOS

# IDE-specific files
# Eclipse
.project
.classpath
.settings/

# Temporary files
*.tmp
*.swp
*~
*.bak
*.log

# Libraries and Dependencies
libs/
*.jar
